body{
    background: linear-gradient(30deg, rgb(92, 89, 89) , rgb(24, 24, 24));
    color: rgb(68, 68, 68);
}

main li img{
width: 300px;
height: 280px;
object-fit: cover;

}
header{
    position: static;
    
}
main ul{
    width: 800px;
    margin: 0px auto;

}
main li{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;

}
.item-contet{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions{
    text-align: right;
    
}
.actions a{
    text-decoration: none;
    padding: 6px;
    color: rgb(22, 211, 228);
    border-radius: 5px;
}
.actions a:hover{
    background-color: rgb(235, 253, 255);
}