#hero{
    height: 800px;
    background: url(Places.jpg) center;
    background-size: cover;          
}
.hero-contet{
    width: 900px;
    background-color: rgb(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top:200px;

}
.hero-contet h1{
   color: white;
   text-transform: uppercase;
   font-size: 50px;
   font-family: 'Lato', sans-serif;
   margin: 0;

}
.hero-contet p{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
}
.hero-contet a{
    text-decoration: none;
    background-color: rgb(255, 251, 0);
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-radius:8px ;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);

}

.hero-contet a:hover{
    background-color:rgb(255, 238, 0) ;
    

}
#highlights{
    padding: 24px;
background: linear-gradient(0deg, rgb(227, 255, 253) , rgb(202, 243, 240));

}



#highlights h2{
 text-transform: uppercase;
 text-align: center;
 font-size: 40px;
 color: rgb(59, 65, 64);
 font-weight: bold;
 margin: 24px 0;

}
.destination img{
    height: 200px;
    width: 250px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    object-fit:fill;
}
#destination{
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    flex-direction: row;
 
}
.destination{
    margin: 0 20px;
}
.destination p{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(124, 123, 123);
    margin: 20px 0;
    
}
.destination strong{
    color:rgb(0, 160, 117) ;

}
